@import "../../styles/colors.scss";
@import "../../styles/typography.scss";

.nav {
  display: flex;
}

.hamburger {
  div {
    background-color: $primary;
    height: 3px;
    margin: 10px 0;
    width: 40px;
  }
}

.logo {
  color: $primary;
  font-family: $logo-font;
  font-size: $font-size-display;
  position: relative;
  left: calc(50% - 90px);
  text-align: center;
}
