.title {
  margin: 2rem 0 0 0;
}

.dishImage {
  position: relative;
  height: 300px;

  img {
    object-fit: cover;
  }
}

.carousel {
  max-width: 100%;
  overflow-x: scroll;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carouselContent {
  display: flex;
  justify-content: flex-start;
}

.friendItem {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  min-width: 300px;
}
